// Fade In Animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Scroll Left Animation
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Rotate Messages Animation
@keyframes rotateMessages {
  0%, 50% {
    opacity: 0;
  }
  5%, 45% {
    opacity: 1;
  }
  55%, 100% {
    opacity: 0;
  }
}

// Animation Classes
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.scrolling-text {
  animation: scroll-left 20s linear infinite;
  animation-play-state: paused;
}

.rotating-message {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  height: auto;
  min-height: 20px;
  overflow: visible;
  white-space: nowrap;
  
  > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .message-1 {
    animation: rotateMessages 20s infinite;
  }
  
  .message-2 {
    animation: rotateMessages 20s infinite;
    animation-delay: 10s;
  }
}